
/* footer header font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* footer links font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html {
  scroll-behavior: smooth;
}

/* faq  */
details[open] summary ~ * {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* testimonial  */
@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.slider-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: slide 20s linear infinite;
}
.testimonial {
  min-width: 300px;
  background: black;
  color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

/* footer  */
.text-11xl{
    font-size: 13rem !important;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 600;
}
.f_font{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

/* Apply the custom font */
body {
  font-family: "Heebo", sans-serif;
}

h1,
p {
  font-family: "Heebo", sans-serif;
}

nav ul li a {
  font-family: "Heebo", sans-serif;
}

/* Custom spin animation */
@theme {

  
  --text-large: 24rem; 

  --animate-custom-spin': customSpin 3s linear infinite;
  --animate-slide-in': slideIn 1s ease-out forwards;

  @keyframes customSpin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateY(100px) rotate(12deg);
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
  }
}
